<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ExcelDna.AddIn" version="1.1.1" targetFramework="net48" developmentDependency="true" />
  <package id="ExcelDna.Integration" version="1.1.0" targetFramework="net48" />
  <package id="FSharp.Core" version="4.7.2" targetFramework="net48" />
  <package id="ILMerge" version="3.0.41" targetFramework="net48" />
  <package id="ILMerge.MSBuild.Task" version="1.0.7" targetFramework="net48" />
  <package id="Serilog" version="2.10.0" targetFramework="net48" />
</packages>